body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e9ef9bf3;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #4fc4ee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(24, 4, 249, 0.91);
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

li input[type="checkbox"] {
    margin-right: 10px;
}
